html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: $background-color;
	font-family: $base-font-family;
	color: $text-color;
}

a {
	color: $text-color;
}